{% extends 'base.html' %} 
{% load static %} 


{% block content %}
{% if messages %}
    <script>
        {% for message in messages %}
            alert("{{ message }}");
        {% endfor %}
    </script>
{% endif %}

 

<div class="container mx-auto row md:flex-row align-items-center my-12 md:my-24">

   
    <div class='col-md-4'>
        <img class ="rounded-2xl img-fluid" src ="{% static './img/to_do.png' %}"/>
    </div> 
    <div class="flex  col-md-4 flex-column w-50 lg:w-50 justify-content-center items-start pt-12 pb-24 px-6 bg-white rounded-2xl bg-opacity-70 mx-3">
        <h1 class="font-weight-bold text-4xl my-4">Welcome  to Task Master </h1>
        <p class="lead mb-4">
            This is a simple Task master application  where you can add your task,priority list and get more thing done in a little amount of time
        </p>


        <div class="d-flex justify-content-end w-100">
            <a href="" class="btn btn-primary rounded-none hover:bg-white hover:text-blue-900 hover:border-blue-900 shadow hover:shadow-lg py-2 px-4 border border-dark hover:border-transparent">Register</a>
        </div>
        

    </div>
    
</div>

{% endblock %}